
.table {
    width: 90vw;
    margin:auto;
    height: 80vh;
    border-collapse:collapse;
    table-layout:fixed;
}



.table tr {
    border-bottom: 1px solid rgb(37, 34, 34);
    text-align: left;
    height: 10%;
}

.table th{
    font-weight: bolder;
    font-size: 1.2em;
    padding: 4px 0 4px 0;
}

.table tbody {
    font-weight: 100;
}

.table td {
    padding: 2px 0 4px 0;
}

